body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: slategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    background: black;
    color: lightgray;
    width: 450px;
    height: 520px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.month {
    width: 100%;
    height: 120px;
    background: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.month h1 {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.month p {
    font-size: 16px;
}

.weekdays {
    width: 100%;
    height: 50px;
    display: flex;
}

.weekdays div {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* may take the background and font color out later on.  Using it for visual of space */
    background: white;
    color: black;
}
 
/* GRID template made sense for this */
.days {
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}

.days div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: lightgray;
    /* cursor: pointer; */
    transition: 0.3s;
    /* border: 1px solid white;  Using it for visual of space */
}

.days div:hover:not(.empty) {
    background: lightseagreen;
    color: white;
    cursor: pointer;
}

.today {
    background: lightseagreen;
    color: white;
}